
.form-horizontal .control-label{text-align: left;font-size: 18px;font-weight: normal;color:#808080;}
.control-label span{color:red;}
.form-control{border-radius: 0px !important;}
.form-group .btn{width: 100%;border-radius: 0px;background: #333333;color:#fff;border:none;}
.form-group .btn:hover{background: #83D0C9;color:#fff;border: none;}


