<div class="game-header ">
  <div class="row ">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
      <a href="#">        
          <img src="assets/images/logo.jpg">
      </a>    
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
  
      <div class="audio-div">
      <ul class="audio-setting">
                      <li class="img-shadow"><a (click)="volumeDown()"  ><img src="assets/images/volume-active-icon.png"></a></li>
                
                      <li class="img-shadow"><a routerLink="{{_dashboardLink}}" (click)="redirect()" ><img src="assets/images/close-icon.png"></a></li>
      </ul>
      </div>
   </div>
      
</div>        
</div>
<!-- <h2 style="font-family:century-gothic">My Body</h2> -->
<!-- <div class="container">
<div class="row"> -->
<div class="col-md-12 col-xs-12 col-lg-12 " >
  <div class="container" >
      <div class="row">
          <div class="col-md-1 col-xs-1 col-lg-1 "></div>
          <div class="col-md-10 col-xs-10 col-lg-10 " >
          <div id="container"></div>
          </div>
      <div class="col-md-1 col-xs-1 col-lg-1 "></div>
      </div>
  </div>
</div>
<!-- </div>
</div> -->